.linkb{
    color: aliceblue;
    padding: 80ox;
    text-decoration:none ;
    text-align: justify;
    font-size: 15px;
    margin-right: 0px;
}
.nav{
    height: 40px;
    
    margin-right:  0px;
}
.phoneicon{
    text-align: center;
    margin-left: 80px;
    margin-right: 5px;
   
}
.socialicon{
    margin: 2px;
}
@media screen and (max-width:1600px){
    
}